.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: h;
  background: rgb(13, 194, 43);
}

.header img {
  height: 60px;
}

.nav {
  grid-area: n;
  background: rgb(6, 126, 6);
}

.app-wrapper-content {
  grid-area: c;
  background: rgb(21, 118, 230);
}

.content .top-image {
  width: 100%;
}
