.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: h;
}

.nav {
  grid-area: n;
  background: #96ca00;
}

.app-wrapper-content {
  grid-area: c;
  background: #b3c8cd;
}

.content .top-image {
  width: 100%;
}
