.dialogs {
  font-size: 20px;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog {
  padding: 10px;
}
.dialog a {
  text-decoration: none;
}
.dialog a.active {
  color: red;
}

.messages {
  padding: 10px;
  position: relative;
}

.messages::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 95%;
  background: #5c5;
}
